<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ellipsoidecm.carfix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.Splash"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ForgotPassword" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"

            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.Orders" />
        <activity
            android:name=".activity.HowItWorks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Step2"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.Step3" />
        <activity
            android:name=".activity.Cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.Dashboard" />
        <activity android:name=".activity.Signup" />
        <activity
            android:name=".activity.ECM"
            android:label="@string/title_activity_ecm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.NotificationActivity" />

        <service android:name=".others.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".others.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activity.Notification_Details" />
        <activity android:name=".activity.FeedBack" />
        <activity android:name=".activity.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".activity.ThankYou"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".others.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".activity.Register_end" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_unBJOa2v2Kjq3T" />

    </application>

</manifest>